body {
  background-color: rgb(173, 232, 84);
}

.main-wrapper {
  width: 1000px;
  height: 800px;
  background-color: white;
  margin: 0 auto;
}

.li-holder {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.input-fields {
}
